.footer-link-contact-hover {
  position: relative;
  display: inline-block;
  transition: color 0.3s;
}

.footer-link-contact-hover:hover {
  color: black;
  font-weight: 500;
}

.footer-link-contact-hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 1.5px;
  width: 0;
  background-color: black;
  transition: width 0.3s ease;
}

.footer-link-contact-hover:hover::after {
  width: 100%;
}
