@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background-color: #444 !important;
  border-radius: 4px !important;
  opacity: 0.5 !important;
  transition: all 0.3s ease !important;
  margin: 0 4px !important;
}

.swiper-pagination-bullet-active {
  width: 25px !important;
  height: 8px !important;
  background-color: #018484 !important;
  border-radius: 999px !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px #018484;
}

.swiper .swiper-pagination-bullet-active {
  background-color: #018484 !important;
}

.swiper-button-prev,
.swiper-button-next {
  top: 45% !important; /* pastikan override */
  color: #16a34a !important;
  z-index: 20 !important;
  width: 40px !important;
  height: 40px !important;
}

.swiper-button-prev {
  left: -40px !important;
}

.swiper-button-next {
  right: -40px !important;
}

/* kalau mau hilangin bawaan ::after dan kasih style sendiri */
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px !important; /* default-nya 44px */
  font-weight: bold;
}
